@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Poppins", monospace;
  box-sizing: border-box;
  text-decoration: none;
  --bg-color: #000;
  --hover-color: #baff29;
  --dim-hover-color: #bbff29;
  --primary-color: #fff;
  --dim-primary-color: #c5c3c3;
  --top-item-color: #000;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#root {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-color);
}

.btn-1 {
  padding: 0.65rem 2rem;
  box-sizing: border-box;
  background: none;
  font-weight: 700;
  border-radius: 10px;
  border: solid 2px var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--primary-color);
  cursor: pointer;
  transition: linear 0.3s;

  & > * {
    color: inherit;
    transition: linear 0.3s;
    margin-left: 0.5rem;
    font-size: 1.5rem;
  }

  > i {
    color: #191414;
    font-size: 22px;
  }

  &:hover {
    border-color: var(--hover-color);
    background-color: var(--hover-color);
    color: #000;

    & > * {
      color: #000;
    }
  }
}

@media only screen and (max-width: 200px) {
  .btn-1 {
    padding: 0.325rem 1rem;
    font-size: 0.75rem;
    border-radius: 7.5px;

    & > * {
      color: inherit;
      transition: linear 0.3s;
      margin-left: 0.5rem;
      font-size: inherit;
    }
  }
}
